@keyframes PopupOpenAnimation
  0%
    top: 100%

  100%
    top: 0


.form-container
  background: #FFFFFF
  border-radius: 16px
  border: 1px solid #C5C5C5
  box-shadow: 0 8px 24px -4px #0000001F, 0px 6px 12px -6px #00000014
  display: block
  height: 600px
  padding: 0 40px
  position: fixed
  top: 20px
  width: 404px
  z-index: 1
  right: 0
  overflow-y: auto
  animation: PopupOpenAnimation 1s

  .form-header
    display: flex
    justify-content: space-between
    align-items: center

    .close-button
      cursor: pointer

  .input-container
    margin-top: 16px

  input
    background: #FFFFFF
    border-radius: 6px
    border: 1px solid #C5C5C5
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 16px
    padding: 10px 16px
    width: 100%
    &:focus
      border-color: #0073FF

    ::placeholder
      color: #878787
      opacity: 1

  .submit-button
      margin-top: 50px
      display: inline-block
      outline: none
      cursor: pointer
      font-size: 16px
      line-height: 20px
      font-weight: 600
      border-radius: 8px
      padding: 14px 24px
      border: none
      transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s
      background: linear-gradient(to right, rgb(30, 57, 230) 0%, rgb(28, 45, 227) 50%, rgb(4, 15, 215) 100%)
      color: #fff

  .error-message
    margin: 5px
    color: #DC3545
